<ng-container *ngIf="!isChoosProcedure">
    <h1>ПРОЦЕДУРИ ПРЕДЛАГАНИ OT САЛОН "ВАЛЕНТИНА"</h1>
    <div class="proced">
        <ul type="none">
            <h2>Подстригване</h2>
            <li>
                <span class="proced">Дамско подстригване</span>
                <button (click)="handleChoose('Дамско подстригване')">Избери</button>
            </li>
            <li>
                <span>Мъжко</span>
                <button (click)="handleChoose('Мъжко подстригване')">Избери</button>
            </li>
            <li>
                <span>Детско</span>
                <button (click)="handleChoose('Детско подстригване')">Избери</button>
            </li>
            <li>
                <span>Машинка</span>
                <button (click)="handleChoose('Подстригване с машинка')">Избери</button>
            </li>
            <li>
                <span>Бретон</span>
                <button (click)="handleChoose('Подстригване на бретон')">Избери</button>
            </li>
        </ul>
        <ul type="none">
            <h2>Боядисване</h2>
            <li>
                <span>Къса коса</span>
                <button (click)="handleChoose('Боядисване-къса коса')">Избери</button>
            </li>
            <li>
                <span>Дълга коса</span>
                <button (click)="handleChoose('Боядисване-дълга коса')">Избери</button>
            </li>
            <li>
                <span>Матиране</span>
                <button (click)="handleChoose('Матиране')">Избери</button>
            </li>

        </ul>
        <ul type="none">
            <h2>Сешоар</h2>
            <li>
                <span>Къса коса</span>
                <button (click)="handleChoose('Сешоар-къса коса')">Избери</button>
            </li>
            <li>
                <span>Дълга коса</span>
                <button (click)="handleChoose('Сешоар-дълга коса')">Избери</button>
            </li>
            <li>
                <span>Раздвижен</span>
                <button (click)="handleChoose('Сешоар-раздвижен')">Избери</button>
            </li>

        </ul>
        <ul type="none">
            <h2>Навиване</h2>
            <li>
                <span>Средно дълга</span>
                <button (click)="handleChoose('Навиване-средно дълга коса')">Избери</button>
            </li>
            <li>
                <span>Дълга коса</span>
                <button (click)="handleChoose('Навиване-дълга коса')">Избери</button>
            </li>
        </ul>
        <ul type="none">
            <h2>Официална прическа</h2>
            <li>
                <span>Официална прическа</span>
                <button (click)="handleChoose('Официална прическа')">Избери</button>
            </li>
        </ul>
    </div>
</ng-container>

<ng-container *ngIf="isChoosProcedure">
    <h2>ЗАПАЗИ ЧАС ЗА ПРОЦЕДУРА: "{{procedure}}"</h2>
    <ng-container *ngFor="let num of nextMonth">

        <p class="data">Дата {{num}}</p>
        <div class="hour">
            <ng-container *ngFor="let item of workHour">
                <button type="button"
                    [class]="compare(item + ' ч. на ' + num)?'':disabled.includes(item + ' ч. на ' + num)?'disabled':'active'"
                    [disabled]="disabled.includes(item + ' ч. на ' + num) || compare(item + ' ч. на ' + num)"
                    (click)="handleReserve(item + ' ч. на ' + num )">{{item}}</button>
            </ng-container>
        </div>
    </ng-container>


</ng-container>