<div>
    <p>ЗАПАЗИ ЧАС</p>
    
    <button type="button" (click)="handleReserve('10:00')">10:00</button>
    <button type="button" (click)="handleReserve('10:30')">10:30</button>
    <button type="button" >11:00</button>
    <button type="button" >11:30</button>
    <button type="button" >12:00</button>
    <button type="button" >12:30</button>
    <button type="button" >13:00</button>
    <button type="button" >13:30</button>
    <button type="button" >14:00</button>
    <button type="button" >14:30</button>
    <button type="button" >15:00</button>
    <button type="button" >15:30</button>
    <button type="button" >16:00</button>
    <button type="button" >16:30</button>
    <button type="button" >17:00</button>
    <button type="button" >17:30</button>

    
</div>
