<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">Salon Valentina</span></p>
        </div>
        <div class="mini-navbar" *ngIf="!(isLoggedIn$ | async)">
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
        <div class="mini-navbar" *ngIf="(isLoggedIn$ | async)">
            <ul>
                <li>
                    <a routerLink="/profile">{{(currentUser$ | async).username}}'s Profile</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="logoutHandler()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Procedures</a>
            </li>
        </ul>
    </nav>
</header>