<ng-container *ngIf="!currentUser">
    <div>
        <h2>ПРОЦЕДУРИ ПРЕДЛАГАНИ OT САЛОН "ВАЛЕНТИНА"</h2>
        <ul>
            <h3>Подстригване</h3>
            <li>
                Дамско подстригване
            </li>
            <li>
                Мъжко
            </li>
            <li>
                Детско
            </li>
            <li>
                Машинка
            </li>
            <li>
                Бретон
            </li>
        </ul>
        <ul>
            <h3>Боядисване</h3>
            <li>
                Къса коса
            </li>
            <li>
                Дълга коса
            </li>
            <li>
                Матиране
            </li>
           
        </ul>
        <ul>
            <h3>Сешоар /прическа/</h3>
            <li>
                Къса коса
            </li>
            <li>
                Дълга коса
            </li>
            <li>
                Раздвижен /къдрав/
            </li>
           
        </ul>
        <ul>
            <h3>Навиване</h3>
            <li>
                Средно дълга
            </li>
            <li>
                Дълга коса
            </li>
        </ul>
        <ul>
            <h3>Официална прическа</h3>
            <li>
                Официална прическа
            </li>
        </ul>
    </div>
</ng-container>
<ng-container *ngIf="!!currentUser">
    <div>
        <h2>ПРОЦЕДУРИ ПРЕДЛАГАНИ OT САЛОН "ВАЛЕНТИНА"</h2>
        <ul>
            <h3>Подстригване</h3>
            <li>
                Дамско подстригване - 15.00 лв.
            </li>
            <li>
                Мъжко - 12.00 лв.
            </li>
            <li>
                Детско - 10.00 лв.
            </li>
            <li>
                Машинка - 10.00 лв.
            </li>
            <li>
                Бретон - 5.00 лв.
            </li>
        </ul>
        <ul>
            <h3>Боядисване</h3>
            <li>
                Къса коса - 30.00 лв.
            </li>
            <li>
                Дълга коса - 40.00 лв.
            </li>
            <li>
                Матиране - 50.00 лв.
            </li>
        </ul>
        <ul>
            <h3>Сешоар /прическа/</h3>
            <li>
                Къса коса - 10.00 - 15.00 лв. 
            </li>
            <li>
                Дълга коса - 20.00 лв.
            </li>
            <li>
                Раздвижен /къдрав/ - 25.00 - 30.00 лв.
            </li>
           
        </ul>
        <ul>
            <h3>Навиване</h3>
            <li>
                Средно дълга - 20.00 лв.
            </li>
            <li>
                Дълга коса - 40.00 лв.
            </li>
        </ul>
        <ul>
            <h3>Официална прическа</h3>
            <li>
                Официална прическа - 40.00 - 80.00 лв.
            </li>
        </ul>
    </div>
</ng-container>
